*{
    padding: 0px;
    margin: 0px;
}

main {
    font-family: "Azeret Mono", monospace;
}


/* common styles */
/* font-family: "Azeret Mono", monospace; */
.heading01{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 48px;
    font-weight: 800;
    line-height: 68px;
    letter-spacing: 0%;
}

.title{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 32px;
    font-weight: 800;
    line-height: 37px;
    letter-spacing: 0%;
}


.subtitle{
    color: rgba(13, 19, 33, 0.7);
    font-family: Azeret Mono;
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0%;
}

.pgraph {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    opacity: 0.7;
}


.cntr {
    text-align: center;
}

.btn-fill{

    background: rgb(13, 19, 33);
    color: rgb(255, 255, 255);
    padding: 15px 10px 15px 10px;
    border-radius: 8px;
    font-family: Azeret Mono;
    font-size: 18px;
    font-weight: 500;
    line-height: 23px;
    letter-spacing: 0%;
    text-align: center;
    cursor: pointer;
}

.btn-notfill {
    background: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    padding: 15px 10px 15px 10px;
    border: 1px solid rgb(13, 19, 33);
    border-radius: 8px;
    opacity: 0.8;
    font-family: Azeret Mono;
    font-size: 18px;
    font-weight: 500;
    line-height: 23px;
    letter-spacing: 0%;
    text-align: center;
    cursor: pointer;
}


.btn-other{
    background: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    padding: 10px 25px 10px 25px;
    border: 1px solid rgb(13, 19, 33);
    opacity: 0.7;
    font-family: Azeret Mono;
    font-size: 18px;
    font-weight: 500;
    line-height: 23px;
    letter-spacing: 0%;
    text-align: center;
    cursor: pointer;

}


/* Navigation bar*/

.navi{
    width: 100%;
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-content{
    width: 1140px;
    height: 100px;
    display: flex;
    align-items:center;
    justify-content: space-between;
}

.logo-name{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 28px;
    font-weight: 800;
    line-height: 33px;
    letter-spacing: 0%;
    text-align: left;
}

/* Hero Section */

.hero-section {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 75vh;
    background-image: url('assets/hero-bbg.jpg');
    background-position: center;
    background-size: contain;
    
}

.hero-content{
    
    max-width: 1140px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.herobtn{
    display: flex;
    align-items: center;
    justify-content: center;
}



/* why web development section */

.why-section{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 80px auto;
    
}


.why-content{
    width: 1140px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 80px 97px;
    border-radius: 16px;
    background: rgba(13, 19, 33, 0.02);
    gap:20px
}

.why-card{
    display: flex;
    flex-direction: row;
    align-items: center;

    gap: 100px;
}


.why-card-content{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content:space-around;
    padding: 48px 48px;
    border-radius: 16px;
    background: linear-gradient(90.00deg, rgb(255, 255, 255),rgba(255, 255, 255, 0) 100%);
    gap: 20px;

}